/*  Form loading  Icon */
.form-loading{
    width:150px;
    display:none
}

/*  Form error message   */
.error{
    color:#b94a48;
}

/* Header */
.header {
    background: #fff !important;
}

/* Model */
.employee-picture{
    color: transparent;
    height: 35px;
    width: 35px;
}

/* Select2  */
@media (max-width: 1000px) {
    .select-with-add .select2-selection--single {
        padding: 6px 97% 6px 12px !important;
    }
}


/* jquery picture cut  */
@media (min-width: 1000px) {
    .container_photo_trable {
        float: right;
        width: 51%;
    }
}

/* input type file  */
input[type="file"]{
    cursor: pointer;
}


/* Log in */
.logo {
    width: 160px;
    margin-bottom: -60px;
}


